body{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size:15px;
    font-family: 'Times New Roman', Times, serif;
}
h3{  
    margin:5px;
    font-size:35px;
    color: #f5eceb;
    text-align: center;
}
form{
    max-width:100%;
    width:350px;
    margin:0 auto;
    padding:0;
    margin-bottom: 10px;
}
fieldset{
    border:1px solid  #02455f;
    background-color: #f6eceb;
    text-align: center;
    border-radius:7px ;
    font-size:13px;
}
fieldset p{
  font-size:17px;
  padding:0;
  margin-top:5px;
  margin-bottom:3px;
  font-weight:700;
  color:#142d36;

}
.blue {
  border-radius:20px ;
  border:1px solid #02455f;
  box-shadow: 0 0 10px #017272;
  background-color: #04647c;
  margin-bottom: 10px;
}
.submit {
    height:35px;
    width:130px;
    font-size:17px;
    font-weight:700;
    color:#142d36;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow:0 0 10px #017272;
    background: #f6eceb;
    border: 2px solid #f6eceb;
    border-radius: 6px;
}
.submit:hover{
  background: #142d36;
  border: 2px solid #142d36;
  color:#f6eceb;
}
input,textarea{
  border-radius: 3px;
  background-color:#f6eceb;
  padding:3px;
  border: 0.5px solid #04647c;
}
.rad, .check, select{
  border: 0.5px solid #04647c;
  background-color:#f6eceb;
}
.top {
    margin-top: 10px;
}
.top input:hover{
    border:1px solid #fa968b;
}
label{
    cursor:pointer;
}
.bord:hover{
    border:1px solid #fa968b;

}
#bio{
    margin:0 auto;
    max-width:500px;
    width:250px;
    height:150px;
}
.fio{
    max-width:400px;
    width:200px;
}

@media (min-width: 600px){
    body {
        max-width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h3{
        align-self: center;
    }
} 
